@tailwind base; 
@tailwind components;
@tailwind utilities;

/* small global tweaks if you want */
html, body, #root { height: 100%; }
@keyframes searchAppear {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-search {
  animation: searchAppear 0.25s ease-out forwards;
}
